<!DOCTYPE html>
<html>
  <head>
	
  
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Vulnerabilidad</title>

    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css"
	  integrity="sha256-/Z28yXtfBv/6/alw+yZuODgTbKZm86IKbPE/5kjO/xY=" crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"
	    integrity="sha256-Bhi6GMQ/72uYZcJXCJ2LToOIcN3+Cx47AZnq/Bw1f7A="
	    crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore.js" integrity="sha256-SzKOQsVYGX1bmddyfPzGC6yXY/rWYGUSMOi6+T9gZ+0=" crossorigin="anonymous"></script>

    <link rel="stylesheet"
	  href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.12.0/ol.css"
	  integrity="sha256-fjKCwdf+fsFNnRRFfKZIznHEygdh6vtEJqVg8Eu3Kuw="
	  crossorigin="anonymous" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.12.0/ol.js"
	    integrity="sha256-Gox75luuxLxNYWsoO+2sGVMYOUcheq0zhGEB2310fuw=" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js"
		integrity="sha256-dsOXGNHAo/syFnazt+KTBsCQeRmlcW1XKL0bCK4Baec=" crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/parcoords/0.7.0/d3.parcoords.css"
		integrity="sha256-5xEAILWn4PCchv5VcG34HW6666pNuyjo7B/4+e6a6wQ=" crossorigin="anonymous" />

	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.12/svg.min.js" 
	integrity="sha256-IMCBafn5pmCrLYioAYBxLvBirr8BSVB3ocKfzKhHOz0=" crossorigin="anonymous"></script> -->

	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.12/svg.js" 
	integrity="sha256-jTmLb3dgUJHE/vJB3Ar55ffsMdHrkZ9cpFWtRZQildw=" crossorigin="anonymous"></script> -->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.7.1/svg.js" 
	integrity="sha256-vSmnWtpaSGbnsDppQdGsUdfbXlGSn620VQ3dvXL4LcA=" crossorigin="anonymous"></script>
	
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/parcoords/0.7.0/d3.parcoords.js" -->
	<!--	integrity="sha256-P1EuxWFFZ7gng7kzlSGQywWxZF4SBHMU++KS2HA3FNE=" crossorigin="anonymous"></script>  -->

	<script src="/static/d3.parcoords.js"></script>
	<script src="/static/underscore.math.js"></script>
	<script src="/static/d3.svg.multibrush.js"></script>

    <style type="text/css">

      body {
           margin: 3em;
      }
       #c1 {
          background-color: rgb(74,190,181);
       }
       #c2 {
          background-color: rgb(24,138,156);
       }
       #c3 {
          background-color: rgb(0,69,132);
       }
       #c4 {
          background-color: rgb(0,30,123);
       }
       #c5 {
          background-color: rgb(16,0,90);
       }
	   .grid {
			height: 98vh;
		}

    </style>

    <!-- parallel coordinates -->
    <style>
		svg {font: 30px sans-serif; font-weight: normal;}
		.background path {fill: none; stroke: #ddd; shape-rendering: crispEdges;}
		.one_foreground path {stroke-width: 4px; fill: none; stroke: #9a378f;}
		.foreground path {fill: none; stroke: #9a378f;}
		.brush .extent {fill-opacity: .3; stroke: #9a378f; shape-rendering: crispEdges;}
		.axis line,
		.axis path {fill: none; stroke: #000; shape-rendering: crispEdges;}
		.axis text {text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;}
    .axis {font: 20px sans-serif; font-weight: bold;}
		* {margin: 0; padding: 0;}
	</style>

	<!-- Matomo -->
		<script>
			var _paq = window._paq = window._paq || [];
			/* tracker methods like "setCustomDimension" should be called before "trackPageView" */
			_paq.push(['trackPageView']);
			_paq.push(['enableLinkTracking']);
			(function() {
			var u="//metrics.k.vu/matomo/";
			_paq.push(['setTrackerUrl', u+'matomo.php']);
			_paq.push(['setSiteId', '3']);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
			})();
		</script>
	<!-- End Matomo Code -->


  </head>

  <body style="margin-top: 0.2em;">

    <div class="one column row" style="margin-bottom: 0.5em;">
      <div class="column"> 
	<div class="sixteen wide column">
	  <div class="ui segment">
	    <div class="middle aligned content">
	      <div class="header" style="font-size: 2em;">
		<img src="/static/logo_lancis.png" width="30px" /> 	      
		
		<a href="https://lancis.ecologia.unam.mx/">
		  LANCIS
		</a>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>

	<div class="ui one column stackable grid">
		<div class="three column row">
			<div class="four wide column"> 
				<div class="ui segment">
					<div class="ui list" id="selected" style="height: 68vh; width: 22vw; overflow: scroll;">
					</div>					
				</div>
			</div>
			<div class="six wide column"> 
				<div class="ui segment" id="map_title">
				
				</div>
				<div class="ui segment">
					<div id="map" style="height: 62vh; width: 34vw;"></div>
				</div>
			</div>
			<div id="glyph_column"class="six wide column"> 
				<div class="ui segment">
					<div id="glyph" style="height: 68vh; width: 45vw;">
							<!-- <img src="/static/glyph1.svg" alt="alt text" height="800px" width="800px" />	 -->
					</div>
				</div>
			</div>
			
			
		</div>
		<div class="one column row">
			<div class="column"> 
					<div class="sixteen wide column">
							<div class="ui segment">
								<div id="graph" class="parcoords" style="width:100%;height:20vh;"></div>
				
								<div class="ui three column grid" style="margin-top: 0.5em; margin-left: 3em;">
									<div class="five wide column">
											  <button onclick="reset()">reset</button>
									</div>
										  <div class="five wide column">
											  <form action="upload" method=post enctype=multipart/form-data>
											  <p><input type=file name=file[] multiple="multiple">
											 <input type=submit value=Upload>
											</form>
										  </div>
										  <div class="five wide column">
											  <div id="statistics"></div>
										  </div>
									</div>
								</div>
							 </div>
						</div>
			</div>
			
		</div>
	</div>	
		
    <!-- </div> -->
    <script>


    </script>
    <script src="/static/styles.js"></script>
	<script src="/static/map_setup.js" layer_url="{{ layer_url }}" data_url="{{ data_url }}"></script>
	<script src="/static/hieroglyph.js"></script>
    {% block scripts %}
    {% endblock %}
  </body>

</html>
